@charset "UTF-8";
@import url(style.css);
* {
  font-family: "標楷體";
}

p {
  font-size: 18px;
}

a {
  color: darkorange;
}

table {
  margin: center;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 5px;
}

tr {
  font-size: 16px;
  border-top: 1px solid;
}

td {
  width: 150px;
  height: 150px;
  font-size: 20px;
}

html[in="middle"] {
  margin-top: -50px;
}

body[in="index"] {
  background-image: url("Images/image.png");
  background-repeat: repeat;
  background-size: cover;
  margin-left: 50px;
}

body[in="index"] a {
  font-size: 20px;
}

body[in="index"] nav {
  margin-left: 10px;
}

body[in="index"] h1 {
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: -75px;
}

body[in="index"] div {
  width: 520px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 10px;
  padding-top: 5px;
}

body[in="index"] #d1:hover {
  color: #eb9b08;
  font-weight: bold;
}

body[in="index"] #d2:hover {
  color: #eb9b08;
  font-weight: bold;
}

body[in="index"] #d3:hover {
  color: #eb9b08;
  font-weight: bold;
}

body[in="index"] #d4:hover {
  color: #eb9b08;
  font-weight: bold;
}

body[in="index"] img {
  border-radius: 10px;
  width: 160px;
  height: 160px;
}

body[in="index"] #imgPosition span {
  font-size: 18px;
}

body[in="login"] {
  text-align: center;
}

body[in="login"] input[type="text"] {
  border-radius: 5px;
}

body[in="login"] input[type="password"] {
  border-radius: 5px;
}

body[in="login"] .main {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 30px #ffe153;
          box-shadow: 3px 3px 30px #ffe153;
  width: 300px;
  height: 300px;
}

body[in="login"] #forgetBtn {
  border: none;
  text-decoration: underline;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

body[in="resigter"] .btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #f8edb7;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

body[in="resigter"] #user {
  -webkit-box-shadow: 3px 3px 10px #ffe153;
          box-shadow: 3px 3px 10px #ffe153;
  text-align: center;
  font-size: 18px;
  border: 1px solid;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

body[in="riceType"] {
  background-image: url("Images/riceTypeImage.png");
  text-align: center;
}

body[in="riceType"] input[type="submit"] {
  border-radius: 5px;
  cursor: pointer;
  background-color: #f8edb7;
  font-size: 15px;
  font-weight: bold;
}

body[in="cart"] {
  background-image: url("Images/riceTypeImage.png");
}

body[in="cart"] table {
  font-size: 24px;
}

body[in="cart"] span {
  text-decoration: none;
  font-size: 20px;
}

body[in="cart"] td {
  height: 80px;
}

body[in="cart"] #del {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: white;
  border: none;
}

body[in="cart"] input[type="button"] {
  cursor: pointer;
}

body[in="forgetPwd"] {
  background-image: url("Images/riceTypeImage.png");
}

body[in="forgetPwd"] form {
  border: 1px solid black;
  width: 60%;
}

body[in="forgetPwd"] .setForm {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

body[in="forgetPwd"] .btn {
  font-size: 16px;
  width: 60px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}
/*# sourceMappingURL=all.css.map */